body {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

#board {
    background-color: rgb(168, 168, 168);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}